 # Variable

In [4]:
# type
numerical_variable = 8
type(numerical_variable)
a = 7

In [5]:
a = "a"
b = "b"
c ="c"


zero = 0
one = 1 
two = 2

In [6]:
# Mon Commentaire
"""
commentaire
"""
#commentaire

'\ncommentaire\n'

# Les Objets

In [7]:
# les Objes
my_variable =" String objet"
my_variable.lower()

def myfunction():
    """cette fonction ne sert à rien
    input :
       None
    output:
       None   
    """
    myfunction.__doc__

In [8]:
month = "message"
# Majuscule
print(month.upper())
#Minuscule
print(month.lower())
#capitalisé
print(month.capitalize())

MESSAGE
message
Message

# les types de données

In [9]:
type(1)

int

In [10]:
type(1.01)
round(1.9871,3)

1.987

In [11]:
type(True)

bool

# les Sequences

In [12]:
# lists
listes =['one','two','three']
#tuple
('one','two','three')
#set
tuples ={'one','two','three'}
# chaine de caracteur
string="one","two","three"

In [13]:
listes.append("foor")
listes

['one', 'two', 'three', 'foor']

# Dictionnaire

In [14]:
#dictionnaire
dictionnaire= {1:'one',2:'two', 3:'three'}

# Heures et minute

In [15]:
# Date du jour
date =""
# Nombre de minutes écouléels de puis minuit jusque 11 h30
minute= " "

# pourecentage de minutes restantes dans la journée

# est que le nombre de minute éecoulé est pair ou impair

In [16]:
from datetime import datetime

# Date du jour
date = "18/01/2024"
print(f"Date du jour:", date)

# Nombre de minutes écoulées depuis minuit jusqu'à 11h30
minutes_ecoulees = (11 * 60 )+ 30
print(f"Nombre de minutes écoulées depuis minuit jusqu'à 11h30:", minutes_ecoulees)

# Pourcentage de minutes restantes dans la journée
minutes_restantes = 24 * 60 - minutes_ecoulees
pourcentage_restant = round((minutes_restantes / (24 * 60)) * 100)
print(f"Pourcentage de minutes restantes dans la journée:", pourcentage_restant ,'%')

# Est ce que le nombre de minutes écoulées est pair ou impair
is_even = minutes_ecoulees % 2 == 0
print(f"Est-ce que le nombre de minutes écoulées est pair?",is_even)

Date du jour: 18/01/2024
Nombre de minutes écoulées depuis minuit jusqu'à 11h30: 690
Pourcentage de minutes restantes dans la journée: 52 %
Est-ce que le nombre de minutes écoulées est pair? True

# Gestion des erreurs

In [17]:
2//2

1

In [18]:
2%1

0

#arth

In [19]:
t =(0+2+4+6+8+10+12+14)/8
print(f'',t)

s =((0**2 + 2**2 + 4**2 + 6**2 + 8**2+ 10**2 + 12**2+14**2)/8)-7**2
print(f'',s)

 7.0
 21.0

In [20]:
# x =surface de la maison
# a =7.5
#b =1.5
# y =prix de la maison
# y =ax +b
# votre mission  est de calculer pour toutes les maisson allant de 20 m carre jusque 50 m care



a = 7.5
b = 1.5

for x in range(20, 50):
    surface_maison = x
    prix_maison = a * surface_maison + b  # y =ax +b
    print(f"Surface de la maison : {surface_maison} m, Prix de la maison : {prix_maison} ")

Surface de la maison : 20 m, Prix de la maison : 151.5
Surface de la maison : 21 m, Prix de la maison : 159.0
Surface de la maison : 22 m, Prix de la maison : 166.5
Surface de la maison : 23 m, Prix de la maison : 174.0
Surface de la maison : 24 m, Prix de la maison : 181.5
Surface de la maison : 25 m, Prix de la maison : 189.0
Surface de la maison : 26 m, Prix de la maison : 196.5
Surface de la maison : 27 m, Prix de la maison : 204.0
Surface de la maison : 28 m, Prix de la maison : 211.5
Surface de la maison : 29 m, Prix de la maison : 219.0
Surface de la maison : 30 m, Prix de la maison : 226.5
Surface de la maison : 31 m, Prix de la maison : 234.0
Surface de la maison : 32 m, Prix de la maison : 241.5
Surface de la maison : 33 m, Prix de la maison : 249.0
Surface de la maison : 34 m, Prix de la maison : 256.5
Surface de la maison : 35 m, Prix de la maison : 264.0
Surface de la maison : 36 m, Prix de la maison : 271.5
Surface de la maison : 37 m, Prix de la maison : 279.0
Surface de la maison : 38 m, Prix de la maison : 286.5
Surface de la maison : 39 m, Prix de la maison : 294.0
Surface de la maison : 40 m, Prix de la maison : 301.5
Surface de la maison : 41 m, Prix de la maison : 309.0
Surface de la maison : 42 m, Prix de la maison : 316.5
Surface de la maison : 43 m, Prix de la maison : 324.0
Surface de la maison : 44 m, Prix de la maison : 331.5
Surface de la maison : 45 m, Prix de la maison : 339.0
Surface de la maison : 46 m, Prix de la maison : 346.5
Surface de la maison : 47 m, Prix de la maison : 354.0
Surface de la maison : 48 m, Prix de la maison : 361.5
Surface de la maison : 49 m, Prix de la maison : 369.0

In [21]:
[n for n in range(100)]
100

100

In [22]:
 x =surface de la maison
 a = 507.576
b = 18.5
c =-0.2
 y =prix de la maison
 y =ax2 +bx +c =y
 votre mission  est de calculer pour toutes les maisson allant de 20 m carre jusque 50 m care

SyntaxError: invalid syntax (3755786455.py, line 1)

In [ ]:

a = 507.576
b = 18.5
c = -0.2


# Surface de la maison (x) allant de 200 à 500 m²
for surface in range(200, 501,10):
    # Calcul du prix (y) pour chaque surface
    prix = a * surface**2 + b * surface + c
    y= prix
    print(f"Surface: {surface} m , Prix: {y:.2f} ")

Surface: 200 m , Prix: 20306739.80
Surface: 210 m , Prix: 22387986.40
Surface: 220 m , Prix: 24570748.20
Surface: 230 m , Prix: 26855025.20
Surface: 240 m , Prix: 29240817.40
Surface: 250 m , Prix: 31728124.80
Surface: 260 m , Prix: 34316947.40
Surface: 270 m , Prix: 37007285.20
Surface: 280 m , Prix: 39799138.20
Surface: 290 m , Prix: 42692506.40
Surface: 300 m , Prix: 45687389.80
Surface: 310 m , Prix: 48783788.40
Surface: 320 m , Prix: 51981702.20
Surface: 330 m , Prix: 55281131.20
Surface: 340 m , Prix: 58682075.40
Surface: 350 m , Prix: 62184534.80
Surface: 360 m , Prix: 65788509.40
Surface: 370 m , Prix: 69493999.20
Surface: 380 m , Prix: 73301004.20
Surface: 390 m , Prix: 77209524.40
Surface: 400 m , Prix: 81219559.80
Surface: 410 m , Prix: 85331110.40
Surface: 420 m , Prix: 89544176.20
Surface: 430 m , Prix: 93858757.20
Surface: 440 m , Prix: 98274853.40
Surface: 450 m , Prix: 102792464.80
Surface: 460 m , Prix: 107411591.40
Surface: 470 m , Prix: 112132233.20
Surface: 480 m , Prix: 116954390.20
Surface: 490 m , Prix: 121878062.40
Surface: 500 m , Prix: 126903249.80

In [ ]:
import pandas as pd


path = "C://Users//adoup//OneDrive//Documents//PROJECT//APPRENDRE_PYTHON//content//PHARMA PILOT//EDUCATION//DATA//BusinessPartners.csv"
data = pd.read_csv(path)

In [78]:
['All For Bikes',
 'Amaze Bikes Inc',
 'Arena Sports Inc',
 'Atlanta Corp Inc',
 'Bike World Inc',
 'Alpha AG',
 'BuchungsKreis 1010',
 'Trek Cycle AG',
 'Tona Bikes AG',
 'Meine Bicycle',
 'Avante Grande Bikes',
 'Bike On',
 'Carefree Cycles',
 'G&M Bicycle',
 'Keep Cycling',
 'iCare Australia',
 'CC SportWorld',
 'DigiPay',
 'TechCycle Canberra',
 'eBike 100',
 'Cycle World',
 'High Tech Sports Inc',
 'Tires On Fire',
 'MX Bike',
 'FitnessWorld',
 'Homerun Millwork Inc.',
 'Antonio Bandolera',
 'Khan Cycles',
 'Palm Beach Bike World',
 'A to Z Fitness',
 'Hudson SportsTec',
 'Ebike 36',
 'Wichita Sport',
 'Move by Bike',
 'TechCycle',
 'YourCycleShop',
 'Unolab Manufacturing',
 'E bike 201',
 'The Cycle Factor',
 'Eiffel Bikes']
company_names = [
    'All For Bikes', 'Amaze Bikes Inc', 'Arena Sports Inc', 'Atlanta Corp Inc',
    'Bike World Inc', 'Alpha AG', 'BuchungsKreis 1010', 'Trek Cycle AG',
    'Tona Bikes AG', 'Meine Bicycle', 'Avante Grande Bikes', 'Bike On',
    'Carefree Cycles', 'G&M Bicycle', 'Keep Cycling', 'iCare Australia',
    'CC SportWorld', 'DigiPay', 'TechCycle Canberra', 'eBike 100', 'Cycle World',
    'High Tech Sports Inc', 'Tires On Fire', 'MX Bike', 'FitnessWorld',
    'Homerun Millwork Inc.', 'Antonio Bandolera', 'Khan Cycles',
    'Palm Beach Bike World', 'A to Z Fitness', 'Hudson SportsTec', 'Ebike 36',
    'Wichita Sport', 'Move by Bike', 'TechCycle', 'YourCycleShop',
    'Unolab Manufacturing', 'E bike 201', 'The Cycle Factor', 'Eiffel Bikes'
]

In [24]:
letters = [name.split()[0] for name in company_names]

print(type(letters))
print(letters)

<class 'list'>
['All', 'Amaze', 'Arena', 'Atlanta', 'Bike', 'Alpha', 'BuchungsKreis', 'Trek', 'Tona', 'Meine', 'Avante', 'Bike', 'Carefree', 'G&M', 'Keep', 'iCare', 'CC', 'DigiPay', 'TechCycle', 'eBike', 'Cycle', 'High', 'Tires', 'MX', 'FitnessWorld', 'Homerun', 'Antonio', 'Khan', 'Palm', 'A', 'Hudson', 'Ebike', 'Wichita', 'Move', 'TechCycle', 'YourCycleShop', 'Unolab', 'E', 'The', 'Eiffel']

# Les sets

In [25]:
A = ['Oeuf','Lait','Sucre']
A = set(A)
B = ['Sucre','Farine','Huile']

B = set(B)

In [27]:
outer = A & B
outer

{'Sucre'}

In [28]:
left =A-B
left

{'Lait', 'Oeuf'}

In [31]:
left_inner=(A-B) | (A & B)
left_inner

{'Lait', 'Oeuf', 'Sucre'}

In [32]:
left_inner =A or B

{'Lait', 'Oeuf', 'Sucre'}

In [33]:
A | B

{'Farine', 'Huile', 'Lait', 'Oeuf', 'Sucre'}

In [37]:
l = A , B

({'Lait', 'Oeuf', 'Sucre'}, {'Farine', 'Huile', 'Sucre'})

In [51]:
import pandas as pd

date1 = pd.date_range('01/01/1992', '01/01/1999', freq='Y').astype(str).to_list()
date2 = pd.date_range('01/01/1988', '01/01/1995', freq='Y').astype(str).tolist()

# Convertir les listes en ensembles de dates
set_date1 = set(date1)
set_date2 = set(date2)

# Trouver les dates communes en utilisant l'opérateur d'intersection
dates_communes = list(set_date1 & set_date2)

# Afficher les dates communes
print("Dates communes entre date1 et date2 :", dates_communes)

Dates communes entre date1 et date2 : ['1994-12-31', '1993-12-31', '1992-12-31']

In [54]:



print(" date dif :")
#print("Dates présentes dans date2 mais pas dans date1 :", dates_diff2)

 date dif : {'1994-12-31', '1993-12-31', '1992-12-31'}

# Dictionnaire

In [ ]:
translation ={'One':'une' ,'two':'deux'}
translation.items()
for  inglish ,french in translation.items() :
     print(f"la traductio de '{inglish}' est '{french}' ")
    
translation.keys()
translation.values()

{(key, value.upper()) for (key, value) in translations.items()}




dict((["one", "two"], ["un", "deux"]))

All For Bikes
Amaze Bikes Inc
Arena Sports Inc
Atlanta Corp Inc
Bike World Inc
Alpha AG
BuchungsKreis 1010
Trek Cycle AG
Tona Bikes AG
Meine Bicycle
Avante Grande Bikes
Bike On
Carefree Cycles
G&M Bicycle
Keep Cycling
iCare Australia
CC SportWorld
DigiPay
TechCycle Canberra
eBike 100
Cycle World
High Tech Sports Inc
Tires On Fire
MX Bike
FitnessWorld
Homerun Millwork Inc.
Antonio Bandolera
Khan Cycles
Palm Beach Bike World
A to Z Fitness
Hudson SportsTec
Ebike 36
Wichita Sport
Move by Bike
TechCycle
YourCycleShop
Unolab Manufacturing
E bike 201
The Cycle Factor
Eiffel Bikes

In [125]:
company_names = [
    'All For Bikes', 'Amaze Bikes Inc', 'Arena Sports Inc', 'Atlanta Corp Inc',
    'Bike World Inc', 'Alpha AG', 'BuchungsKreis 1010', 'Trek Cycle AG',
    'Tona Bikes AG', 'Meine Bicycle', 'Avante Grande Bikes', 'Bike On',
    'Carefree Cycles', 'G&M Bicycle', 'Keep Cycling', 'iCare Australia',
    'CC SportWorld', 'DigiPay', 'TechCycle Canberra', 'eBike 100', 'Cycle World',
    'High Tech Sports Inc', 'Tires On Fire', 'MX Bike', 'FitnessWorld',
    'Homerun Millwork Inc.', 'Antonio Bandolera', 'Khan Cycles',
    'Palm Beach Bike World', 'A to Z Fitness', 'Hudson SportsTec', 'Ebike 36',
    'Wichita Sport', 'Move by Bike', 'TechCycle', 'YourCycleShop',
    'Unolab Manufacturing', 'E bike 201', 'The Cycle Factor', 'Eiffel Bikes'
]

dictionnaire_resultat = { mots.split()[0] :position for position ,mots in enumerate (company_names)}
#sansdoublon = list(set(dictionnaire_resultat))
#dictionnaire_resultats = {str(i): sansdoublon[i] for i in range(len(sansdoublon))}

# Affichage du dictionnaire résultant
print(dictionnaire_resultat)

print("\n")
# Affichage du dictionnaire résultants
#print(dictionnaire_resultats)

{'All': 0, 'Amaze': 1, 'Arena': 2, 'Atlanta': 3, 'Bike': 11, 'Alpha': 5, 'BuchungsKreis': 6, 'Trek': 7, 'Tona': 8, 'Meine': 9, 'Avante': 10, 'Carefree': 12, 'G&M': 13, 'Keep': 14, 'iCare': 15, 'CC': 16, 'DigiPay': 17, 'TechCycle': 34, 'eBike': 19, 'Cycle': 20, 'High': 21, 'Tires': 22, 'MX': 23, 'FitnessWorld': 24, 'Homerun': 25, 'Antonio': 26, 'Khan': 27, 'Palm': 28, 'A': 29, 'Hudson': 30, 'Ebike': 31, 'Wichita': 32, 'Move': 33, 'YourCycleShop': 35, 'Unolab': 36, 'E': 37, 'The': 38, 'Eiffel': 39}

# Fonction

In [126]:
def function_name():
    return

In [132]:
def magimix(person,unit='g'):
    """ Ma fonction magimix calcule les ingredients necessaires 
    Arg :preson(integer) :nombre de personne 
    retruns :
      str :la recette
    """
    global salt
    sugar = 60*person
    salt  = 100*person
    if True :

        return f'{sugar  } {unit} ,{salt} {unit}' 
    else :
        return f'Cest faux'

magimix(person = 5)

500

In [141]:


def calculer_moyenne(liste_elements):
    if len(liste_elements) == 0:
        return None  
    else:
        return sum(liste_elements) / len(liste_elements)


t = [0, 2, 4, 6, 8, 10, 12, 14]

calculer_moyenne(t)

7.0

In [146]:
def moyenne_ca(serie):
    if len(serie) == 0:
        return None

    moyenne_carres = (sum(x**2 for x in serie) / len(serie)) - 7**2
    return moyenne_carres

# Série de nombres
t = [0, 2, 4, 6, 8, 10, 12, 14]

# Appel de la fonction
resultat = moyenne_ca(t)

# Affichage du résultat
if resultat is not None:
    print(f"La moyenne des carrés des éléments de la série t moins le carré de 7 est : {resultat}")
else:
    print("La série est vide. Impossible de calculer la moyenne des carrés.")

La moyenne des carrés des éléments de la série t moins le carré de 7 est : 21.0

In [149]:
def calculer_moyenne_variance(variance):
    # Calculer la moyenne
    mean_data = sum(variance) / len(variance)

    # Calculer la somme des carrés des écarts par rapport à la moyenne
    sum_squared_diff = sum((x - mean_data) ** 2 for x in variance)

    # Calculer la variance
    variance_data = sum_squared_diff / len(variance)

    return mean_data, variance_data

# Exemple d'utilisation avec un ensemble de données
ensemble_de_donnees = [0, 2, 4, 6, 8, 10, 12, 14]
moyenne, variance = calculer_moyenne_variance(ensemble_de_donnees)

# Afficher les résultats
print("Ensemble de données:", ensemble_de_donnees)
print("Moyenne:", moyenne)
print("Variance:", variance)

Ensemble de données: [0, 2, 4, 6, 8, 10, 12, 14]
Moyenne: 7.0
Variance: 21.0

# Input

In [150]:
nb_personne = input('Combien de personne viennent manger ce soire')
nb_personne