 # Variable

In [8]:
# type
numerical_variable = 8
type(numerical_variable)
a = 7

In [9]:
a = "a"
b = "b"
c ="c"


zero = 0
one = 1 
two = 2

In [10]:
# Mon Commentaire
"""
commentaire
"""
#commentaire

'\ncommentaire\n'

# Les Objets

In [11]:
# les Objes
my_variable =" String objet"
my_variable.lower()

def myfunction():
    """cette fonction ne sert à rien
    input :
       None
    output:
       None   
    """
    myfunction.__doc__

In [12]:
month = "message"
# Majuscule
print(month.upper())
#Minuscule
print(month.lower())
#capitalisé
print(month.capitalize())

MESSAGE
message
Message

# les types de données

In [13]:
type(1)

int

In [16]:
type(1.01)
round(1.9871,3)

1.987

In [15]:
type(True)

bool

# les Sequences

In [3]:
# lists
listes =['one','two','three']
#tuple
('one','two','three')
#set
tuples ={'one','two','three'}
# chaine de caracteur
string="one","two","three"

In [6]:
listes.append("foor")
listes

['one', 'two', 'three', 'foor', 'foor']

# Dictionnaire

In [17]:
#dictionnaire
dictionnaire= {1:'one',2:'two', 3:'three'}

{1: 'one', 2: 'two', 3: 'three'}

# Heures et minute

In [ ]:
# Date du jour
date =""
# Nombre de minutes écouléels de puis minuit jusque 11 h30
minute= " "

# pourecentage de minutes restantes dans la journée

# est que le nombre de minute éecoulé est pair ou impair

In [21]:
from datetime import datetime

# Date du jour
date = "18/01/2024"
print(f"Date du jour:", date)

# Nombre de minutes écoulées depuis minuit jusqu'à 11h30
minutes_ecoulees = (11 * 60 )+ 30
print(f"Nombre de minutes écoulées depuis minuit jusqu'à 11h30:", minutes_ecoulees)

# Pourcentage de minutes restantes dans la journée
minutes_restantes = 24 * 60 - minutes_ecoulees
pourcentage_restant = round((minutes_restantes / (24 * 60)) * 100)
print(f"Pourcentage de minutes restantes dans la journée:", pourcentage_restant ,'%')

# Est ce que le nombre de minutes écoulées est pair ou impair
is_even = minutes_ecoulees % 2 == 0
print(f"Est-ce que le nombre de minutes écoulées est pair?",is_even)

Date du jour: 18/01/2024
Nombre de minutes écoulées depuis minuit jusqu'à 11h30: 690
Pourcentage de minutes restantes dans la journée: 52 %
Est-ce que le nombre de minutes écoulées est pair? True

# Gestion des erreurs

In [1]:
2//2

1

In [4]:
2%1

0

#arth

In [20]:
t =(0+2+4+6+8+10+12+14)/8
print(f'',t)

s =((0**2 + 2**2 + 4**2 + 6**2 + 8**2+ 10**2 + 12**2+14**2)/8)-7**2
print(f'',s)

 7.0
 21.0

In [ ]:
# x =surface de la maison
# a =7.5
#b =1.5
# y =prix de la maison
# y =ax +b
# votre mission  est de calculer pour toutes les maisson allant de 20 m carre jusque 50 m care



a = 7.5
b = 1.5

for x in range(20, 50):
    surface_maison = x
    prix_maison = a * surface_maison + b  # y =ax +b
    print(f"Surface de la maison : {surface_maison} m, Prix de la maison : {prix_maison} ")

In [6]:
[n for n in range(100)]
100

100

In [ ]:
 x =surface de la maison
 a = 507.576
b = 18.5
c =-0.2
 y =prix de la maison
 y =ax2 +bx +c =y
 votre mission  est de calculer pour toutes les maisson allant de 20 m carre jusque 50 m care

In [5]:

a = 507.576
b = 18.5
c = -0.2


# Surface de la maison (x) allant de 200 à 500 m²
for surface in range(200, 501,10):
    # Calcul du prix (y) pour chaque surface
    prix = a * surface**2 + b * surface + c
    y= prix
    print(f"Surface: {surface} m , Prix: {y:.2f} ")

Surface: 200 m , Prix: 20306739.80
Surface: 210 m , Prix: 22387986.40
Surface: 220 m , Prix: 24570748.20
Surface: 230 m , Prix: 26855025.20
Surface: 240 m , Prix: 29240817.40
Surface: 250 m , Prix: 31728124.80
Surface: 260 m , Prix: 34316947.40
Surface: 270 m , Prix: 37007285.20
Surface: 280 m , Prix: 39799138.20
Surface: 290 m , Prix: 42692506.40
Surface: 300 m , Prix: 45687389.80
Surface: 310 m , Prix: 48783788.40
Surface: 320 m , Prix: 51981702.20
Surface: 330 m , Prix: 55281131.20
Surface: 340 m , Prix: 58682075.40
Surface: 350 m , Prix: 62184534.80
Surface: 360 m , Prix: 65788509.40
Surface: 370 m , Prix: 69493999.20
Surface: 380 m , Prix: 73301004.20
Surface: 390 m , Prix: 77209524.40
Surface: 400 m , Prix: 81219559.80
Surface: 410 m , Prix: 85331110.40
Surface: 420 m , Prix: 89544176.20
Surface: 430 m , Prix: 93858757.20
Surface: 440 m , Prix: 98274853.40
Surface: 450 m , Prix: 102792464.80
Surface: 460 m , Prix: 107411591.40
Surface: 470 m , Prix: 112132233.20
Surface: 480 m , Prix: 116954390.20
Surface: 490 m , Prix: 121878062.40
Surface: 500 m , Prix: 126903249.80